body {
    font-family: 'Garamond', serif;
    background-color: #290d45;
    color: #d4d2ec;
    padding: 20px;
    text-align: center;
}

select, .button {
    background-color: #32CD32;
    color: #800080;
    border: 2px solid #d4d2ec;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.hexagon, .button, .output {
    position: relative;
    width: 140px; /* Adjust size accordingly */
    height: 80px; /* Adjust size to maintain hexagonal ratio */
    background-color: #32CD32;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hexagon:before, .hexagon:after, .button:before, .button:after, .output:before, .output:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 70px solid transparent; /* Half of width */
    border-right: 70px solid transparent; /* Half of width */
}

.hexagon:before, .button:before, .output:before {
    bottom: 100%;
    border-bottom: 46px solid #32CD32; /* Adjust color and height for your needs */
}

.hexagon:after, .button:after, .output:after {
    top: 100%;
    border-top: 46px solid #32CD32; /* Adjust color and height for your needs */
}

#spellOutput {
    background-color: #411e50;
    border: 2px solid #8e49a3;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Ensures no content spills outside the hexagonal shape */
}
