body {
    font-family: 'Fondamento', cursive;
    background-color: #290d45;
    color: #d4d2ec;
    padding: 20px;
    text-align: center;
}

nav {
    margin-bottom: 30px;
}

.nav-button {
    font-family: 'Fondamento', cursive;
    background-color: #411e50;
    color: #d4d2ec;
    border: 2px solid #32CD32;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.nav-button.active {
    background-color: #32CD32;
    color: #411e50;
}

.page {
    display: none;
}